* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: rgba(17, 0, 150, 0.654);
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.item {
    float: left;
    width: 700px;
    height: 300px;
    position: relative;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item .text {
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: right;
    color: white;
}

button {
    padding: 0.25rem 0.75rem;
    margin: 1rem;
    background-color: rgba(20, 0, 121, 0.545);
    color: white;
    border-radius: 10%;
    border: 1px solid black;
}

div.slider-wrapper,
section.thumbnails {
    border: 2px solid rgba(162, 162, 162, 0.787);
}

section.thumbnails{
    width: 300px;
    object-fit: cover;
     background: rgb(0, 0, 0);

}


.thumbnail{
    height: calc((300px) / 5);
    opacity: 0.5;

}

div.thumbnail:hover{
    opacity: 1;
    border: 1px solid gray; 
}

.thumbnail img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
